!pip install adafruit-io
!pip install python-telegram-bot
ADAFRUIT_IO_USERNAME = "Your User Name"
ADAFRUIT_IO_KEY = "Your IO Key"
from Adafruit_IO import Client,Data
from telegram.ext import Updater,CommandHandler
nav = Client(ADAFRUIT_IO_USERNAME,ADAFRUIT_IO_KEY)
def lon(bot,update):
  chat_id = update.message.chat_id
  nav.create_data('light',Data(value = 1))#Light is my feed name
  bot.send_message(chat_id =chat_id,text ="Lights On")
def loff(bot,update):
  chat_id = update.message.chat_id
  nav.create_data('light',Data(value = 0))
  bot.send_message(chat_id =chat_id,text ="Lights Off")
def fon(bot,update):
  chat_id = update.message.chat_id
  nav.create_data('fan',Data(value = 1))
  bot.send_message(chat_id =chat_id,text ="Fan On")
def foff(bot,update):
  chat_id = update.message.chat_id
  nav.create_data('fan',Data(value = 0))
  bot.send_message(chat_id =chat_id,text ="Fan Off")
updater = Updater('CHATBOT TOKEN') # Chatbot API
dp =updater.dispatcher
dp.add_handler(CommandHandler('light_on',lon))
dp.add_handler(CommandHandler('light_off',loff))
dp.add_handler(CommandHandler('fan_on',fon))
dp.add_handler(CommandHandler('fan_off',foff))
updater.start_polling()
updater.idle()
